In [1]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd

import os
import pickle
from datetime import datetime
%matplotlib inline

In [2]:
df_ad = pd.read_csv('data/train.csv')
df_ad

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0
5,18787,3,1,16,379,2017-11-06 14:36:26,NaN,0
6,103022,3,1,23,379,2017-11-06 14:37:44,NaN,0
7,114221,3,1,19,379,2017-11-06 14:37:59,NaN,0
8,165970,3,1,13,379,2017-11-06 14:38:10,NaN,0
9,74544,64,1,22,459,2017-11-06 14:38:23,NaN,0
10,172522,3,1,25,379,2017-11-06 14:38:27,NaN,0
11,105861,3,1,13,379,2017-11-06 14:38:51,NaN,0
12,210962,3,1,19,379,2017-11-06 14:39:29,NaN,0
13,124979,3,1,18,379,2017-11-06 14:40:16,NaN,0
14,38816,3,1,18,379,2017-11-06 14:40:39,NaN,0
15,80447,3,1,19,379,2017-11-06 14:40:51,NaN,0
16,134575,3,1,13,379,2017-11-06 14:43:10,NaN,0
17,57576,3,1,19,379,2017-11-06 14:43:14,NaN,0
18,7755,3,1,13,379,2017-11-06 14:43:25,NaN,0
19,91749,3,1,19,379,2017-11-06 14:43:51,NaN,0
20,50694,3,1,18,379,2017-11-06 14:44:02,NaN,0
21,111385,3,1,18,379,2017-11-06 14:44:15,NaN,0
22,125222,14,1,3,478,2017-11-06 14:44:51,NaN,0
23,191759,3,1,13,379,2017-11-06 14:44:51,NaN,0
24,53418,3,1,17,379,2017-11-06 14:44:52,NaN,0
25,183168,3,1,19,379,2017-11-06 14:47:49,NaN,0
26,47902,3,1,17,379,2017-11-06 14:48:07,NaN,0
27,209663,3,1,13,379,2017-11-06 14:48:55,NaN,0
28,129614,3,1,20,379,2017-11-06 14:49:36,NaN,0
29,208347,3,1,19,379,2017-11-06 14:49:38,NaN,0
...,...,...,...,...,...,...,...,...
184903860,37462,2,2,9,435,2017-11-09 16:00:00,NaN,0
184903861,37168,2,1,19,237,2017-11-09 16:00:00,NaN,0
184903862,163581,9,1,3,322,2017-11-09 16:00:00,NaN,0
184903863,34894,9,1,15,322,2017-11-09 16:00:00,NaN,0
184903864,49383,24,2,20,178,2017-11-09 16:00:00,NaN,0
184903865,258208,9,1,18,490,2017-11-09 16:00:00,NaN,0
184903866,121312,2,1,10,236,2017-11-09 16:00:00,NaN,0
184903867,100212,15,2,13,15,2017-11-09 16:00:00,NaN,0
184903868,7912,9,1,90,445,2017-11-09 16:00:00,NaN,0
184903869,2463,9,1,17,107,2017-11-09 16:00:00,NaN,0
184903870,43763,3,1,25,402,2017-11-09 16:00:00,NaN,0
184903871,88718,14,1,18,446,2017-11-09 16:00:00,NaN,0
184903872,77979,12,1,23,259,2017-11-09 16:00:00,NaN,0
184903873,84092,21,1,13,232,2017-11-09 16:00:00,NaN,0
184903874,119502,11,1,1,173,2017-11-09 16:00:00,NaN,0
184903875,123994,15,1,17,130,2017-11-09 16:00:00,NaN,0
184903876,112862,2,1,17,477,2017-11-09 16:00:00,NaN,0
184903877,22978,3,1,10,173,2017-11-09 16:00:00,NaN,0
184903878,48184,12,1,19,259,2017-11-09 16:00:00,NaN,0
184903879,88,23,1,19,153,2017-11-09 16:00:00,NaN,0
184903880,110840,2,1,17,435,2017-11-09 16:00:00,NaN,0
184903881,131635,2,1,17,435,2017-11-09 16:00:00,NaN,0
184903882,5314,18,1,3,107,2017-11-09 16:00:00,NaN,0
184903883,66000,1,2,37,13,2017-11-09 16:00:00,NaN,0
184903884,100212,1,2,13,125,2017-11-09 16:00:00,NaN,0
184903885,121312,12,1,10,340,2017-11-09 16:00:00,NaN,0
184903886,46894,3,1,19,211,2017-11-09 16:00:00,NaN,0
184903887,320126,1,1,13,274,2017-11-09 16:00:00,NaN,0
184903888,189286,12,1,37,259,2017-11-09 16:00:00,NaN,0
184903889,106485,11,1,19,137,2017-11-09 16:00:00,NaN,0

In [3]:
def convertToCategoryType(cols, old_df):
    for v in cols:
        old_df[v] = old_df[v].astype('category')
    return old_df;

In [4]:
df_ad = convertToCategoryType(['ip', 'app', 'device', 'os', 'channel'], df_ad)

In [5]:
def convertDF(df_old):
    df_old['click_time'] = pd.to_datetime(df_old['click_time'], format='%Y/%m/%d %H:%M:%S')
    df_old['hour']=df_old['click_time'].dt.hour
    df_old['date']=df_old['click_time'].dt.date
    df_old['day']=df_old['click_time'].dt.day
    df_old['month']=df_old['click_time'].dt.month
    df_old['year']=df_old['click_time'].dt.year
    return df_old

In [6]:
df_new = convertDF(df_ad)
df_new.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,hour,date,day,month,year
0,83230,3,1,13,379,2017-11-06 14:32:21,NaN,0,14,2017-11-06,6,11,2017
1,17357,3,1,19,379,2017-11-06 14:33:34,NaN,0,14,2017-11-06,6,11,2017
2,35810,3,1,13,379,2017-11-06 14:34:12,NaN,0,14,2017-11-06,6,11,2017
3,45745,14,1,13,478,2017-11-06 14:34:52,NaN,0,14,2017-11-06,6,11,2017
4,161007,3,1,13,379,2017-11-06 14:35:08,NaN,0,14,2017-11-06,6,11,2017

In [7]:
from sqlalchemy import create_engine
import pandas as pd

In [8]:
cnx = create_engine('postgresql://yichiang:yichiang@52.206.3.40:5432/adtracking')

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [9]:
import io

import pandas as pd
from sqlalchemy import create_engine

def write_to_table(df, cnx, schema, table_name, file_name):
    df.to_csv(file_name, sep=',', index=False)
    with open(file_name, 'r') as f: 
        conn = cnx.raw_connection()
        cursor = conn.cursor()
        cmd = "COPY %s(%s) FROM STDIN DELIMITER ',' CSV HEADER; " % (table_name, schema )
        print(cmd)
        cursor.copy_expert(cmd, f)
        conn.commit()

# FROM https://stackoverflow.com/questions/31997859/bulk-insert-a-pandas-dataframe-using-sqlalchemy?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa

In [ ]:
write_to_table(df_new, cnx,'ip,app,device,os,channel,click_time,attributed_time, is_attributed','activity_test', 'activity_sql_test.csv' )