In [4]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd

import os
import pickle
from datetime import datetime
%matplotlib inline

In [ ]:
df_ad = pd.read_csv('data/train.csv')
df_ad

In [10]:
def convertToCategoryType(cols, old_df):
    for v in cols:
        old_df[v] = old_df[v].astype('category')
    return old_df;

In [11]:
df_ad = convertToCategoryType(['ip', 'app', 'device', 'os', 'channel'], df_ad)

In [12]:
df_download = df_ad[df_ad.is_attributed == 1]

In [13]:
df_notDownload = df_ad[df_ad.is_attributed != 1].sample(len(df_download)*2)

In [14]:
len(df_ad) - len(df_download)

184447044

In [15]:
df_download.shape

(456846, 8)

In [16]:
df_notDownload.shape

(913692, 8)

In [17]:
df_sample = df_notDownload.append(df_download, ignore_index=True)

In [18]:
df_sample.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,43580,14,1,8,439,2017-11-09 09:20:20,NaN,0
1,80000,12,1,17,212,2017-11-09 04:12:09,NaN,0
2,14792,14,1,19,489,2017-11-07 14:00:49,NaN,0
3,17030,9,1,25,334,2017-11-09 10:09:35,NaN,0
4,316658,9,1,41,232,2017-11-09 08:26:16,NaN,0

In [19]:
def convertDF(df_old):
    df_old['click_time'] = pd.to_datetime(df_old['click_time'], format='%Y/%m/%d %H:%M:%S')
    df_old['hour']=df_old['click_time'].dt.hour
    df_old['date']=df_old['click_time'].dt.date
    df_old['day']=df_old['click_time'].dt.day
    df_old['month']=df_old['click_time'].dt.month
    df_old['year']=df_old['click_time'].dt.year
    return df_old

In [20]:
df_new = convertDF(df_sample)
df_new.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,hour,date,day,month,year
0,43580,14,1,8,439,2017-11-09 09:20:20,NaN,0,9,2017-11-09,9,11,2017
1,80000,12,1,17,212,2017-11-09 04:12:09,NaN,0,4,2017-11-09,9,11,2017
2,14792,14,1,19,489,2017-11-07 14:00:49,NaN,0,14,2017-11-07,7,11,2017
3,17030,9,1,25,334,2017-11-09 10:09:35,NaN,0,10,2017-11-09,9,11,2017
4,316658,9,1,41,232,2017-11-09 08:26:16,NaN,0,8,2017-11-09,9,11,2017

In [21]:
with open('all_converted_data.pkl', 'wb') as picklefile:
    pickle.dump(df_new, picklefile)

In [22]:
df_new.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed,hour,date,day,month,year
0,43580,14,1,8,439,2017-11-09 09:20:20,NaN,0,9,2017-11-09,9,11,2017
1,80000,12,1,17,212,2017-11-09 04:12:09,NaN,0,4,2017-11-09,9,11,2017
2,14792,14,1,19,489,2017-11-07 14:00:49,NaN,0,14,2017-11-07,7,11,2017
3,17030,9,1,25,334,2017-11-09 10:09:35,NaN,0,10,2017-11-09,9,11,2017
4,316658,9,1,41,232,2017-11-09 08:26:16,NaN,0,8,2017-11-09,9,11,2017