In [3]:
# Python 2 & 3 Compatibility
from __future__ import print_function, division

# Necessary imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy

import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, roc_curve, auc
from sklearn.cross_validation import train_test_split
from sklearn import svm
from sklearn.preprocessing import OneHotEncoder

import os
import pickle
from datetime import datetime
from dateutil.parser import parse

%matplotlib inline

In [5]:

with open("App/randForest_best_model.pkl", 'rb') as picklefile:
    PREDICTOR = pickle.load(picklefile)

In [6]:
df_ad = pd.read_csv('data/test.csv')
df_ad

          click_id      ip  app  device  os  channel           click_time
0                0    5744    9       1   3      107  2017-11-10 04:00:00
1                1  119901    9       1   3      466  2017-11-10 04:00:00
2                2   72287   21       1  19      128  2017-11-10 04:00:00
3                3   78477   15       1  13      111  2017-11-10 04:00:00
4                4  123080   12       1  13      328  2017-11-10 04:00:00
5                5  110769   18       1  13      107  2017-11-10 04:00:00
6                6   12540    3       1   1      137  2017-11-10 04:00:00
7                7   88637   27       1  19      153  2017-11-10 04:00:00
8                9   14932   18       1  10      107  2017-11-10 04:00:00
9                8  123701   12       1  53      424  2017-11-10 04:00:00
10              10  106056   26       1  19      477  2017-11-10 04:00:00
11              11  111025    3       1  19      137  2017-11-10 04:00:00
12              12   16050   12       1  13      265  2017-11-10 04:00:00
13              13   31555    9       1  13      244  2017-11-10 04:00:00
14              14    3009   12       1  25      242  2017-11-10 04:00:00
15              15   17149   14       1  49      480  2017-11-10 04:00:00
16              16  104009   18       1  17      107  2017-11-10 04:00:00
17              20   17149   14       1  49      480  2017-11-10 04:00:00
18              19   80209   27       1  13      122  2017-11-10 04:00:00
19              17   41399    3       1   8      417  2017-11-10 04:00:00
20              18   43655   12       1  15      178  2017-11-10 04:00:00
21              21   37338    8       1   8      145  2017-11-10 04:00:00
22              22   72562   13       1  19      477  2017-11-10 04:00:00
23              23   61583   12       1  13      242  2017-11-10 04:00:00
24              24   48240   18       1  42      107  2017-11-10 04:00:00
25              25   46401   27       1  22      153  2017-11-10 04:00:00
26              26   95155    2       1  16      258  2017-11-10 04:00:00
27              27  114220    9       1  13      445  2017-11-10 04:00:00
28              28   76736   18       1  39      134  2017-11-10 04:00:00
29              29   35834   12       1  13      178  2017-11-10 04:00:00
...            ...     ...  ...     ...  ..      ...                  ...
18790439  18790438   51432   27       1  13      153  2017-11-10 15:00:00
18790440  18790440   14334   14       1  19      401  2017-11-10 15:00:00
18790441  18790441   16749    9       1  13      334  2017-11-10 15:00:00
18790442  18790442   17814   23       1  13      153  2017-11-10 15:00:00
18790443  18790443    8825   21       1  13      232  2017-11-10 15:00:00
18790444  18790444  115536    8       2  13      259  2017-11-10 15:00:00
18790445  18790445  121472    2       1  19      205  2017-11-10 15:00:00
18790446  18790446   38000   12       1  12      242  2017-11-10 15:00:00
18790447  18790447   66176    1       1  19      125  2017-11-10 15:00:00
18790448  18790448   25553    2       1  22      205  2017-11-10 15:00:00
18790449  18790449  119531   21       2  19      128  2017-11-10 15:00:00
18790450  18790450   14062   13       1  53      469  2017-11-10 15:00:00
18790451  18790451   48536   14       1  19      442  2017-11-10 15:00:00
18790452  18790452   93291    1       1  19      125  2017-11-10 15:00:00
18790453  18790453   93291    9       1  19      258  2017-11-10 15:00:00
18790454  18790455   55874    1       1  22      125  2017-11-10 15:00:00
18790455  18790454   93291    9       1  19      145  2017-11-10 15:00:00
18790456  18790456  100697    8       1  18      259  2017-11-10 15:00:00
18790457  18790457   93291   20       1  19      259  2017-11-10 15:00:00
18790458  18790458   85329    2       1  14      452  2017-11-10 15:00:00
18790459  18790459  102467   15       1  17      140  2017-11-10 15:00:00
18790460  18790460   80537    9       1  19      445  2017-11-10 15:00:00
18790461  18790462  101214    2       2  16      237  2017-11-10 15:00:00
18790462  18790461  113418   17       1  17      128  2017-11-10 15:00:00
18790463  18790463   69245   12       1  13      135  2017-11-10 15:00:00
18790464  18790464   99442    9       1  13      127  2017-11-10 15:00:00
18790465  18790465   88046   23       1  37      153  2017-11-10 15:00:00
18790466  18790467   81398   18       1  17      265  2017-11-10 15:00:00
18790467  18790466  123236   27       1  13      122  2017-11-10 15:00:00
18790468  18790468   73516   12       2  27      265  2017-11-10 15:00:00

[18790469 rows x 7 columns]

In [7]:
def convertDF(df_old):
    df_old['click_time'] = pd.to_datetime(df_old['click_time'], format='%Y/%m/%d %H:%M:%S')
    df_old['hour']=df_old['click_time'].dt.hour
    df_old['date']=df_old['click_time'].dt.date
    df_old['day']=df_old['click_time'].dt.day
    df_old['month']=df_old['click_time'].dt.month
    df_old['year']=df_old['click_time'].dt.year
    return df_old

In [8]:
df_new = convertDF(df_ad)
df_new.head()

,click_id,ip,app,device,os,channel,click_time,hour,date,day,month,year
0,0,5744,9,1,3,107,2017-11-10 04:00:00,4,2017-11-10,10,11,2017
1,1,119901,9,1,3,466,2017-11-10 04:00:00,4,2017-11-10,10,11,2017
2,2,72287,21,1,19,128,2017-11-10 04:00:00,4,2017-11-10,10,11,2017
3,3,78477,15,1,13,111,2017-11-10 04:00:00,4,2017-11-10,10,11,2017
4,4,123080,12,1,13,328,2017-11-10 04:00:00,4,2017-11-10,10,11,2017

In [9]:
df_new.columns

Index(['click_id', 'ip', 'app', 'device', 'os', 'channel', 'click_time',
       'hour', 'date', 'day', 'month', 'year'],
      dtype='object')

In [14]:
x = df_new.loc[:, ['ip', 'app', 'device', 'os', 'channel', 'hour']]

In [ ]:
score = PREDICTOR.predict_proba(x)
score

In [57]:
score[:, 0]

array([0.72190481, 0.84932196, 0.99214286, ..., 0.95484957, 0.94093056,
       0.9909902 ])

In [72]:
df_new_sub = df_new

In [73]:
df_new_sub['is_attributed'] = score[:, 1] > 0.5
df_new_sub['is_attributed'] = df_new_sub['is_attributed'].astype(int)

In [74]:
df_new_sub = df_new_sub.drop(['ip', 'app', 'device', 'os', 'channel', 'click_time',
       'hour', 'date', 'day', 'month', 'year'], axis=1)

In [75]:
# df_new_sub.rename(columns={"click_id": "item_id"})

In [77]:
len(df_new_sub['is_attributed'] == 1)

18790469

In [78]:
df_new_sub.to_csv('submission.csv', index=False)

NameError: name 'PREDICTORCat' is not defined